.daily{
     height: 580px;
    width: 100%;
    overflow: hidden;
}

.img1 h3{
    position: absolute;
    top: 150px;
    left: 300px;
    font-weight: bolder;
    color: rgb(182, 174, 65);
    font-style: oblique;
}

.img1 img{
    height: 200px;
    width: 200px;
    position: relative;
    left: 140px;
    top:30px;
}

.bu Button{
    height: 50px;
    width: 100px;
    position: absolute;
    top:65%;
    left: 90%;
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(143, 210, 255);
}

.qq{
    position: relative;
    right: 200px;
   bottom: 340px;
}

.img2 textarea{
    position: relative;
    left: 60px;
    bottom: 727px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(39, 39, 9);
    font-size: 20px;
    color: rgb(68, 143, 209);
    font-weight: bolder;
}

.img6 h3{
    position: absolute;
    top: 150px;
    left: 420px;
    font-weight: bolder;
    color: rgb(182, 174, 65);
    font-style: oblique;
    
}

.img6 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 260px;
    top: 10px;
}

.ww{
    position: relative;
    top:-20px;
     right: 240px;;
}

.img7 textarea{
    position: relative;
    left: 50px;
    bottom: 600px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(39, 39, 9);
    font-size: 20px;
    color: rgb(176, 209, 238);
    font-weight: bolder;
}

.image1 h3{
    position: absolute;
    top: 150px;
    left: 520px;
    font-weight: bolder;
    color: rgb(182, 174, 65);
    font-style: oblique;
}

.image1 img{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 360px;
    top: 30px;
}

.rr{
    position: relative;
    right: 10px;
    bottom: 50px;
}

.image2 textarea{
    position: absolute;;
    left: 320px;
    top: 268px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(39, 39, 9);
    font-size: 20px;
    color: rgb(176, 209, 238);
    font-weight: bolder;
}

.dailymorning{
    position: absolute;
    top: 0px;
    width: 300px;
    height: 800px;
}

.dailyafternoon{
    position: absolute;
    left:300px;
    top: 0px;
    width: 300px;
    height: 800px;
}

.dailynight{
    position: absolute;
    left:600px;
    top: 0px;
    width: 300px;
    height: 800px;
}

.bo Button {
    margin-top: 0.5%;
    margin-left: 0.5%;
	width: 60px;
	height: 40px; 
	border-width: 0px;
	border-radius: 3px; 
	background-color: rgb(111, 174, 236);
	cursor: pointer; 
	outline: none; 
	font-family: "Microsoft YaHei"; 
	color: rgb(117, 227, 255);
	font-size: 17px; 
}
