.decorate{
overflow: hidden;
    height: 1100px;
    overflow-x: hidden;
    background: radial-gradient(200% 100% at bottom center,rgb(126, 208, 255), #f8f8f8);
}
.decorate h3{
    position: relative;
    color: darkslateblue;
    left: 250px;
    top: 10px;
}
.header img{
    position: relative;
    height: 100px;
    width: 100px;
    left: 150px;
}
.header h1{
    position: absolute;
    top: 20px;
    left: 300px;
    color:rgb(126, 208, 255);
}
.de1 img {
    position: absolute;
    top: 130px;
    height: 120px;
    width: 100px;
    left: 260px;
}
.de2 img{
    position: absolute;
    top: 280px;
    left: 980px;
}
.gu img{
    position: relative;
    margin: 0px 2px 0px 2px;
    height: 150px;
    width: 200px;
    left: 350px;
}
.de3 img {
    position: absolute;
    top: 340px;
    height: 90px;
    width: 80px;
    left: 280px;
}

.dong img{
    position: relative;
    margin: 0px 2px 0px 2px;
    top: 20px;
    height: 150px;
    width: 200px;
    left: 350px;
}
.de4 img{
    position: absolute;
    height: 100px;
    width: 80px;
    top: 530px;
    left: 980px;
}
.ideo img {
    position: relative;
    margin: 0px 2px 0px 2px;
    top: 20px;
    height: 150px;
    width: 200px;
    left:  350px;
}
.de5 img{
    position: absolute;
    top:800px;
    left: 270px;
    height: 100px;
    width: 80px; 
}
.concise img{
    position: relative;
    margin: 0px 2px 0px 2px;
    top: 20px;
    height: 150px;
    width: 200px;
    left:  350px;
}
.return{
    height:50px;
    width: 50px;
}
.gu p{
    margin-left: 50%;
}
.dong p{
    margin-left: 50%;
    margin-top: 1%;
}
.ideo p{
    margin-left: 50%;
    margin-top: 1%;
}
.concise p{
    margin-left: 50%;
    margin-top: 1%;
}
.choose button{
opacity: 0.8;
    height:40px;
    width: 200px;
    background-color: rgb(129, 204, 248);
}
.choose{
    margin-left: 10%;
}