.aim{
    height: 600px;
}
.header h1{
   margin:3% 0 0 45%;
    color: rgb(126, 208, 255);
}
.xin h2 {
    margin:1% 0 0 40%;
}
.aim{
    color: coral;
    width: 100%;
    height: 700px;
}
/* .nian input{
    position: absolute;
    left: 500px;
    top: 190px;

}
.nian h4{
    position: absolute;
    left: 560px;
    top: 170px;
}
.yue input{
    position: absolute;
    left: 580px;
    top: 190px;

}
.yue h4{
    position: absolute;
    left: 640px;
    top: 170px;
}
.ri input{
    position: absolute;
    left: 660px;
    top: 190px;
 
}
.ri h4{
    position: absolute;
    left: 720px;
    top: 170px;
}
.shi input{
    position: absolute;
    left: 740px;
    top: 190px;

}
.shi h4{
    position: absolute;
    left: 800px;
    top: 170px;
} */
.text1{
    
    border: 1px solid coral;
    margin:2% 0 0 38%;
    width: 500px;
    height: 100px; 
}
.richeng h2{
    margin:1% 0 0 40%;
}
.text2{
   
    border: 1px solid coral;
   
    margin:0.5% 0 0 38%;
    width: 500px;
    height: 100px; 
}
.time ul{
list-style-type: none;
background-color: rgb(126, 208, 255);
width: 400px;
height:55px;
margin-left:43% ;
position: absolute;
top:18%;
}

.time h4{
    margin-left: 95%;
    
}
