.aim{
    height: 600px;
}

.header h1{
    position: absolute;
    left: 550px;
    top: 40px;
    color: rgb(126, 208, 255);
}
.png{
    position: relative;
    left: 1100px;
}
.png img{
    height: 180px;
    width: 200px;
}

.xin h2 {
    position: absolute;
    top: 100px;
    left: 450px;
    top: 140px;
    margin-top: 50px;
    
}
.xin img {
    position: relative;
    left: 340px;
    bottom: 50px;
}
.aim{
    color: coral;

    width: 100%;
    height: 700px;
}
.nian input{
    position: absolute;
    left: 500px;
    top: 190px;

}
.nian h4{
    position: absolute;
    left: 560px;
    top: 170px;
}
.yue input{
    position: absolute;
    left: 580px;
    top: 190px;

}
.yue h4{
    position: absolute;
    left: 640px;
    top: 170px;
}
.ri input{
    position: absolute;
    left: 660px;
    top: 190px;
 
}
.ri h4{
    position: absolute;
    left: 720px;
    top: 170px;
}
.shi input{
    position: absolute;
    left: 740px;
    top: 190px;

}
.shi h4{
    position: absolute;
    left: 800px;
    top: 170px;
}
.text1{
    position: absolute;
    border: 1px solid coral;
    left: 440px;
    top: 240px;
    width: 500px;
    height: 100px; 
}
.richeng img  {
    position: relative;
    top: 70px;
    left: 350px;
    height: 80px;
    width: 80px;
}
.richeng h2{
    position: absolute;
    left: 450px;
    top: 350px;
    
    
}
.div1{
    position: absolute;
    border: 1px solid;
    color: coral;
    top: 430px;
    left: 360px;;
    width: 500px;
    height: 100px;

}
.text2{
   
    border: 1px solid coral;
    left: 360px;
    margin:18.3% 0 0 4.5%;
    width: 500px;
    height: 100px; 
}

