
.stars{
    background: radial-gradient(200% 100% at bottom center,rgb(126, 208, 255), #f8f8f8);
    /* position: relative; */
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    min-height: 750px;
    /* background-size: cover;对图片 */
    /* position: absolute;
    top: 0px;
    bottom: 0px; */
}
.loginbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    border: 1px solid rgb(226, 226, 226);
    width: 400px;
    height: 320px;
}
.loginbox h1{
    float: left;
    font-size: 40px;
    margin-bottom: 50px;
    margin-left: 135px;
    padding: 8px 0;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    border-bottom: 1px solid #7dca80;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
.i001{
    position: relative;
    width: 30em;
    left: 38%;
    top:10%;
}

.sign{
    position: relative;
    left: 60px;
    top:10px;
    width:240px;
    background: none;
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px;
    font-weight: bold;
    color: #dce5ee;
}

.register{
    position: relative;
    left: 165px;
    top: 15px;
    font-size: 16px;
}