/* .main{
    height: 600px;
    width: 1309px;
    background-color: #eed3fa;
    overflow: hidden;
} */
.header h2{
    font-family: '隶书' ;
    color:white;
    position: absolute;
    left: 200px;
    top: 110px;
    font-size: 40px;
}

.go h4{
    color: white;
    position: absolute;
    top: 180px;
    left: 120px;
}

.back{
    position: absolute;
    color: rgb(241, 214, 181);
    top: 180px;
    left: 800px;
}

.back h4{
    color:white;
}

.nian input{
    position: absolute;
    top: 250px;
    left: 130px;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
}

.nian1 img{
    position: absolute;
    height: 50px;
    width: 100px;
    left: 520px;
    top: 228px;
}

.nian1 input{
    position: absolute;
    top: 250px;
    left: 740px;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
}

.one img{
    position: absolute;
    left: 90px;
    top: 275px;
}

.one h4{
    position: absolute;
    left: 8%;
    top: 42%;
    font-size: 20px;
}

.one textarea{
    position: absolute;
    top: 48%;
    left: 8%;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
  
}

.two img{
    position: relative;
    left: 90px;
    top: 80px;
}
.two h4{
    position: absolute;
    left: 8%;
    top: 65%;
    font-size: 20px;
}

.two textarea{
    position: absolute;
    top: 71%;
    left: 8%;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
}

.img2{
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.three img{
    position: absolute;
    right: 600px;
    top: 275px;
}

.footer h5{
    position: absolute;
    right: 50%;
    top: 42%;
    font-size: 20px;  
    color:  rgb(168, 172, 112);
}

.text{
    position: absolute;
    right: 0px;
    bottom: 713px;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
}

.textarea{
    position: absolute;
    top: 48%;
    right: 24.5%;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
}

.img1{
    position: absolute;
    right: 600px;
    top:64%;
}

.footer h4{
    position: absolute;
    right: 50%;
    top: 65%;
    font-size: 20px;  
}

.footer textarea{
    position: absolute;
    top: 71%;
    right: 24.5%;
    border: 1px solid rgb(47, 196, 255);
    background-color: rgb(255, 255, 255);
} 

.return img{
    position: absolute;
    top:10px;
    right: 0;
}

.sign{
    position: absolute;
    left: 40%;
    bottom: 10px;
    letter-spacing: 2px;
    width:80px;
    background: none;
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px;
    font-weight: bold;
    color: #dce5ee;
}