.main{
    height: 100%;
    width: 100%;
    /* background-color: #eed3fa; */
    overflow: hidden;
}
.header h2{
    font-family: '隶书' ;
    color:white;
    position: absolute;
    left: 200px;
    top: 110px;
    font-size: 40px;
}

.nian input{
    position: absolute;
    top: 250px;
    left: 130px;
    background-color: #eed3fa;
}
.nian h4{
    position: absolute;
    top: 228px;
    left: 190px;
}
.yue input{
    position: absolute;
    top: 250px;
    left: 207px;
    background-color: #eed3fa; 
}
.yue h4{
    position: absolute;
    top: 228px;
    left: 268px;
}
.ri input{
    position: absolute;
    top: 250px;
    left: 285px; 
    background-color: #eed3fa;
}
.ri h4{
    position: absolute;
    top: 228px;
    left: 346px; 
    /* color: rgb(61, 156, 125); */
}
.shi input{
    position: absolute;
    top: 250px;
    left: 362px;
    background-color: #eed3fa;
}
.shi h4{
    position: absolute;
    top: 228px;
    left: 426px;  
}
.nian1 img{
    position: absolute;
    height: 50px;
    width: 100px;
    left: 520px;
    top: 228px;
}
.nian1 input{
    position: absolute;
    top: 250px;
    left: 740px;
    background-color: #eed3fa;
}
.nian1 h4{
    position: absolute;
    top: 228px;
    left: 800px;
}
.yue1 input{
    position: absolute;
    top: 250px;
    left: 820px;
    background-color: #eed3fa;
}
.yue1 h4{
    position: absolute;
    top: 228px;
    left: 880px;
}
.ri1 input{
    position: absolute;
    top: 250px;
    left: 900px;
    background-color: #eed3fa;
}
.ri1 h4{
    position: absolute;
    top: 228px;
    left: 960px;
}
.shi1 input{
    position: absolute;
    top: 250px;
    left: 980px;
    background-color: #eed3fa;
}
.shi1 h4{
    position: absolute;
    top: 228px;
    left: 1040px;
}
.one img{
    position: absolute;
    left: 90px;
    top: 275px;
}
.one h4{
    position: absolute;
    left: 8%;
    top: 40%;
    font-size: 20px;
}

.one textarea{
    position: absolute;
    top: 45%;
    left: 8%;
    border:1px solid #e3e197;
    background:#ffffdd
  
}
.two img{
    position: relative;
    left: 90px;
    top: 80px;
}
.two h4{
    position: absolute;
    left: 8%;
    top: 62%;
    font-size: 20px;
}

.two textarea{
    position: absolute;
    top: 67%;
    left: 8%;
    border:1px solid #e3e197;
    background:#ffffdd
}
.img2{
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.three img{
    position: absolute;
    right: 600px;
    top: 275px;
}
.footer h5{
    position: absolute;
    right: 50%;
    top: 40%;
    font-size: 20px;  
    color:  rgb(168, 172, 112);
}

.textarea{
    position: absolute;
    top: 45%;
    right: 25%;
    border:1px solid #9bdf70;
    background:#f0fbeb
}

.img1{
    position: absolute;
    right: 45%;
    top: 60%;
}
.footer h4{
    position: absolute;
    right: 50%;
    top: 62%;
    font-size: 20px;  
}

.footer textarea{
    position: absolute;
    top: 67%;
    right: 25%;
    border:1px solid #9bdf70;
    background:#f0fbeb
} 
.return img{
    position: absolute;
    top:0%;
    right: 0%;
}
