.enrol{
    /* background: radial-gradient(200% 100% at bottom center, #cc7357,#771a77,#510b63, #211b46);
    background: radial-gradient(220%,105% at top center, #211b46 45%,#510b63 20%,#771a77 55%,#cc7357); */
    
    height: 900px;
    width: 100%;
    overflow: hidden;
    background: radial-gradient(200% 100% at bottom center,rgb(126, 208, 255), #f8f8f8);
}
.zc{
   padding:100px 50px 0px 600px;
    height: 400px;
    width: 325px;
    
    opacity: 0.5;
}
.zc h3{
    font-family: "华文彩云";
    font-size: 40px;
    color: rgb(126, 208, 255);
    border-bottom: 3px solid;
    border-color:rgb(126, 208, 255);
}
.zc input{
    border-bottom: hidden;
    height: 30px;
    
}
.user{
    margin-top:5px;
    font-size: 30px;
    color: rgb(182, 181, 180);
}
.zhanghao{
    margin:0px 10px 10px 30px;
    padding-top:10px;
}
.lock{
    margin-top:5px;
    font-size: 30px;
    color: rgb(124, 121, 118);
}
.mima{
    margin:20px 10px 10px 30px;
    padding-top:10px;
}
.mail{
    margin-top:5px;
    font-size: 30px;
    color: rgb(124, 121, 118);
}
.youxiang{
    margin:20px 10px 10px 30px;
    padding-top:10px;
}
.nianling{
    margin:20px 10px 10px 60px;
    padding-top:10px;
}
.gender{
    font-size: 1.3em;
}
.zc Button{
    position: relative;
    top:20px;
    height:30px;
    width: 70px;
    background-color:rgb(126, 208, 255);
    display:block;
    margin:0 auto;
    font-family: '宋体';
    font-weight: bolder;
    color: white;
    font-size: 20px;
}


.age{
    position:absolute;
    left:40px;
    top:250px;
    font-size: 30px;
    color: rgb(182, 181, 180);
}
.return{
    position:absolute;
    right: 10px;
    top:10px;
}