.enrol{
    /* background: radial-gradient(200% 100% at bottom center, #cc7357,#771a77,#510b63, #211b46);
    background: radial-gradient(220%,105% at top center, #211b46 45%,#510b63 20%,#771a77 55%,#cc7357); */
    position: relative;
    height: 600px;
    width: 1309px;
    overflow: hidden;
}
.zc{
    position: absolute;
    left: 470px;
    top:40px;
    height: 400px;
    width: 325px;
    background-color:rgb(239, 240, 230);
    opacity: 0.6;
}
.zc h3{
    font-family: "华文彩云";
    font-size: 40px;
    color: rgb(196, 130, 202);
    border-bottom: 3px solid;
    border-color: rgb(253, 194, 250);
}
.zc input{
    border-bottom: hidden;
    height: 30px;
    
}
.zhanghao{
    margin:0px 10px 10px 90px;
}
.mima{
    margin:20px 10px 10px 90px;
}
.mima1{
    margin:20px 10px 10px 90px;
}
.zc Button{
    position: relative;
    top:20px;
    height:30px;
    width: 70px;
    background: -webkit-linear-gradient( top,rgb(205, 71, 238),rgb(245, 140, 240),rgb(236, 222, 236));
    display:block;
    margin:0 auto;
    font-family: '宋体';
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.user{
    position:absolute;
    left:40px;
    top:120px;
    font-size: 30px;
    color: rgb(182, 181, 180);
}
.lock{
    position:absolute;
    left:40px;
    top:187px;
    font-size: 30px;
    color: rgb(182, 181, 180);
}
.unlock{
    position:absolute;
    left:40px;
    top:250px;
    font-size: 30px;
    color: rgb(182, 181, 180);
}
.return{
    position:absolute;
    right: 10px;
    top:10px;
}