.base{
    height: 700px;
    width: 100%;
    background-color: rgb(230, 178, 81);
    overflow: hidden;
    
}
.title{
    height: 70px;
    width: 1325px;
    background: -webkit-linear-gradient( bottom,rgb(248, 204, 123),rgb(252, 220, 162),rgb(255, 246, 228));
   position: relative;
    left: 0px; 
    bottom: 27px;
    border-bottom: 1px solid;
    border-bottom-style: groove;
    box-shadow: 0 2px 0 red(209, 190, 190),
}
.title h1{
   align-self: center;
   font-family: "STLiti";
   text-shadow: -1px -1px rgb(245, 182, 99), 1px 1px rgb(247, 209, 127);
   color:rgb(70, 45, 49);
   text-align: center;
   font-size: 40px;
}
.title img{
    float: right;
    position: absolute;
    right: 30px;
    top:0px;
}
.two{
  position: relative;
  left: 500px;  
  bottom: 600px;
}
.three img{

    position: relative;
    left: 1000px;
    bottom: 900px;
    height: 300px;
    width: 300px;
}
